node_modules
preprocessed_dataset/
raw_dataset/
.venv
.vscode
face_data
preprocess.ipynb
face_recognition_model.pkl
modeltrain.ipynb
detectors/features.npy
detectors/labels.npy
detectors/face_recognition_model.pkl
attendance/