body {
    margin: 0;
    outline: none;
    cursor: default;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#login-title-bar {
    -webkit-app-region: drag;
    height: 20px;
    width: 100%;
    border-color: none;
    padding: 0;
    margin: 0;
}

#login-title {
    position: fixed;
    left: 15px;
    padding-top: 6px;
    color: lightsteelblue;
    font-family: Arial;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.login-title-bar-btns {
    -webkit-app-region: no-drag;
    float: right;
    top: 0;
    height: 20px;
}

.login-minm-btn {
    padding-left: 12px;
    box-sizing: border-box;
    float: left;
    width: 30px;
    height: 20px;
    border: none;
    font-family: Arial;
    color: lightgrey;
    font-size: small;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.login-minm-btn:hover {
    background-color: grey;
    color: lightgrey;
    outline: none;
}

.login-close-btn {
    padding-left: 10px;
    padding-top: 3px;
    box-sizing: border-box;
    float: right;
    width: 30px;
    height: 20px;
    border: none;
    font-family: Arial;
    color: lightgrey;
    font-size: small;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.login-close-btn:hover {
    background-color: red;
    color: lightgrey;
    outline: none;
}

.custom-bg-0 {
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.custom-bg-1 {
    background-color: #6495ED;
}

.custom-bg-2 {
    background-color: #f2f2f2;
}

.login-header,
.forgot-pass-header {
    margin-top: 110px;
    margin-left: 35px;
}

.login-form,
.forgot-pass-form {
    margin-left: 35px;
}

.form-floating {
    width: 310px;
}

.text-right {
    padding-left: 170px;
}

.login-show-error,
.email-show-error {
    color: red;
    font-weight: bold;
}

.login-toggle-password-icon {
    top: 20px;
    right: 15px;
    position: absolute;
    color: grey;
    transition: .3s;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.login-btn,
.next-btn {
    border-radius: 10px;
    background-color: #6495ED;
    color: #fff;
    padding: 0.3rem 2rem;
    line-height: 2;
}

.next-btn-container {
    margin: 30px 0 0 110px;
}

.login-btn:hover,
.next-btn:hover {
    background-color: #6495ED;
}