body {
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: default;
    overflow: hidden;
}

.custom-bg-0 {
    background-color: white;
}

#menu-title-bar {
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    border-color: none;
    background-color: gainsboro;
    padding: 0;
    margin: 0;
}

#menu-title {
    position: fixed;
    left: 15px;
    padding-top: 6px;
    color: black;
    font-family: Arial;
    font-size: small;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.menu-title-bar-btns {
    -webkit-app-region: no-drag;
    float: right;
    top: 0;
    height: 30px;
}

.menu-minm-btn {
    padding-left: 17px;
    box-sizing: border-box;
    float: left;
    width: 40px;
    height: 30px;
    border: none;
    font-family: Arial;
    color: black;
    font-size: small;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.menu-minm-btn:hover {
    background-color: lightgray;
    color: black;
    outline: none;
}

.menu-maxm-btn {
    padding-left: 12px;
    padding-top: 7px;
    box-sizing: border-box;
    float: left;
    width: 40px;
    height: 30px;
    border: none;
    font-family: Arial;
    color: black;
    font-size: small;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.menu-maxm-btn:hover {
    background-color: lightgray;
    color: black;
    outline: none;
}

.menu-close-btn {
    padding-left: 16px;
    padding-top: 6px;
    box-sizing: border-box;
    float: right;
    width: 40px;
    height: 30px;
    border: none;
    font-family: Arial;
    color: black;
    font-size: small;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.menu-close-btn:hover {
    background-color: red;
    color: black;
    outline: none;
}

.head-container {
    background-color: #f8f9fa;
    height: 7%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.custom-bg-1 {
    background-color: #6495ED;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 500px;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-title {
    font-size: 24px;
    margin: 0;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    text-align: right;
}


.sidebar {
    height: 100%;
    width: 100px;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 280px;
}

.sidebar .menu-btn {
    height: 40px;
}

.sidebar .menu-btn #btn {
    top: 50%;
    right: 0;
    padding-right: 10%;
    padding-left: 75%;
    float: right;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .menu-btn #btn {
    text-align: right;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}


.sidebar input {
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.4s ease;
    background: #1d1b31;
}

.sidebar.open input {
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100px;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #6495ED;
}

.sidebar.open li a {
    display: flex;
    height: 100%;
    width: 280px;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
    background: #6495ED;
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    padding-left: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

.sidebar li i {
    padding-left: 15px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.content-container {
    transition: margin-left 0.5s ease;
    margin-left: 0;
}

.sidebar.open+.content-container {
    margin-left: 180px;
}

.home-section {
    margin-left: 125px;
    background: white;
    min-height: 100vh;
    top: 0;
    width: calc(100% - 150px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 400px);
}

.home-section .text {
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
}

.menu-header-container {
    background-color: #fff;
    padding: 3px 0;
}

.menu-header-container h4 {
    font-weight: bold;
}

.header {
    background-color: white;
    color: black;
}

.header p {
    font-size: medium;
    font-weight: 400;
}

.card {
    transition: all .3s ease-in-out;
}

.card-body {
    border: none;
    background-color: #f9f9f9;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
}

.card-body h4 {
    font-size: 20px;
    color: #6495ED;
    font-weight: bold;
}

.card-body .form-group {
    border-radius: 0;
    margin-bottom: 17px;
}

.form-control {
    height: 10px;
    outline: 1px solid gainsboro;
}

.form-group select {
    font-size: medium;
    padding: 5px 15px;
    outline: 1px solid gainsboro;
}

.form-group textarea {
    max-height: 70px;
}

.save-btn,
.update-btn,
.reset-btn,
.import-btn,
.export-btn,
.att-update-btn,
.att-reset-btn,
.new-email-btn,
.new-username-btn,
.new-password-btn,
.ok-btn {
    border-radius: 10px;
    width: 100px;
    background-color: #6495ED;
    color: #fff;
    padding: 0.3rem;
    line-height: 2;
}

.delete-btn {
    border-radius: 10px;
    width: 100px;
    background-color: lightcoral;
    color: #fff;
    padding: 0.3rem;
    line-height: 2;
}

.add-photo-btn,
.show-photo-btn,
.attendance-btn,
.check-out-btn,
.train-btn,
.open-photo-btn {
    border-radius: 10px;
    width: 200px;
    background-color: #6495ED;
    color: #fff;
    padding: 0.3rem;
    line-height: 2;
}

.button-container {
    text-align: center;
}

.button-container2 {
    text-align: center;
    margin-top: 42px;
}

.card-body .btn:hover {
    background-color: #6495ED;
}

.right-option {
    margin-top: 38px;
}

.table-responsive {
    overflow-y: auto;
    max-height: 65vh
}

.att-table {
    overflow-y: auto;
    height: 46vh;
}

.table th {
    position: sticky;
    /* Make the table header sticky */
    top: 0;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    white-space: nowrap;
    background-color: #fff;
    z-index: 1;
}

.table tbody tr:hover {
    cursor: pointer;
    background-color: lightgrey;
    /* Add hover background color to rows */
}

.recog-content {
    margin-top: 30px;
}

.recog-content .card {
    border: none;
    background-color: #f9f9f9;
    margin: 30px 7px 67px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    padding: 15px 25px;
}

.setting-content .card {
    margin: 0 auto;
    border: none;
    background-color: #f9f9f9;
    margin: 10px 7px 12px;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
    padding: 15px 25px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
}

.card-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.recog-content .card-text {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #6c757d;
}

.new-email-show-error,
.new-username-show-error,
.change-pass-show-error {
    color: red;
    font-weight: bold;
}

.change-email-form .form-control,
.change-username-form .form-control,
.change-password-form .form-control {
    height: 45px;
}